<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Middleman</title>
</head>

<body>
    <h1>Welcome to Middleman</h1>
    <form action="/auth/logIn" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
    </form>
    <form action="/auth/signUp" method="get">
        <input type="submit" value="Sign up">
    </form>
</body>
</html>
